/**
 * GeSHi CSS Inspired by TextMate
 * Theme Mac Classic
 *
 * Copyright 2008 Mark Story 
 * 
 * This work is licensed under the Creative Commons Attribution-Share Alike 2.5 Canada License. 
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/2.5/ca/ 
 * or send a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
 *
 * @copyright		Copyright 2008, Mark Story.
 * @link			http://mark-story.com
 * @license			http://creativecommons.org/licenses/by-sa/2.5/ca/
 */

/*
* Global geshi styles
**********************/
#main pre {
	white-space: normal;
	padding: 0;
	background: #eae9e5;
	border: 1px solid #c0c0c0;
}
pre ol {
	list-style: decimal;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}
#main pre ol li {
	margin: 0 0 0 35px;
	padding: 0;
	color: #000;
	clear: none;
}
pre ol li div {
	color:#000;
}


/* php */
pre[lang=php] ol div,
pre.php ol div {
	color:#fd1435;
}
/* Line highlights */
.li1 {
	background: #f2f2f2;
}
/* Line highlights */
.li1 {
	background: #f2f2f2;
}

/* comments */
.co1,
.coMULTI {
	color:#5c9dff;	
}
/* methods */
.me1{
	color:#000;
}
.me0 {	

}
.me2 {	
	color:#000;
}

/* brackets */
.br0 {
	color:#222;
}

/* strings */
.st0 {
	color:#b701bb;
}

/* keywords */
.kw1 {
	color: #fd1435;
}
.kw2 {
	color:#6266f5;		
}

.kw3 {
	color:#505e80;
}

/* numbers */
.nu0 {
	color:#0a0aa5;
}

/* vars */
.re0 {
	color:#059532;
}


/* 
* CSS selectors 
*****************/
/* classnames */

[lang=css] .kw2,
.css .kw2 {
	color:#0a0aa5;
}
.re1 {
	color: #b701bb;
}
/* px values */
[lang=css] .re3,
.css .re3 {
	color:#059532;
}

/*
* Javascript
****************/
[lang=javascript] .me1,
.javascript .me1 {
	color:#505e80;
}
